<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/layout/header :: header"></head>

<body>

    <div class="wrap">
        <header>
            <button class="toggler">
                    <span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
            </button>
            <div class="search">
                <form>
                    <input type="text" placeholder="검색">
                    <button type="submit"><img src="images/iconSearch.png" alt=""></button>
                </form>
            </div>
            <h1 class="logo"><a href="#"><img src="images/logo.png" alt="물순환교육센터"></a></h1>
            <ul class="rightMenu">
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Schedule</a></li>
            </ul>
        </header>
        <nav>
            <ul class="mainMenu">
                <li class="basic on"><a href="#">Basic</a>
                    <ul class="sub">
                        <li class="on"><a href="">회사소개</a></li>
                        <li><a href="">정법강의</a></li>
                        <li><a href="">시크릿</a></li>
                        <li><a href="">하수관로운영시스템</a></li>
                        <li><a href="">알기쉬운 상하수도</a></li>
                    </ul>
                </li>
                <li class="lifeMind"><a href="#">Life & Mind</a></li>
                <li class="water"><a href="#">Water</a></li>
                <li class="it"><a href="#">IT</a></li>
                <li class="trend"><a href="#">Trend</a></li>
                <li class="global"><a href="#">Global</a></li>
                <li class="etc file"><a href="#">Upload</a></li>
            </ul>
        </nav>
        <div class="right">
            <section>
                <h2>하수관로운영시스템</h2>
                <div class="vod">
                    <div class="topIcon">
                        <span><img src="./images/vodIcon_edit.png" alt=""></span>
                        <span><img src="./images/vodIcon_list.png" alt=""></span>
                    </div>
                    <div class="play">
                        <img src="./images/vod.jpg" alt="">
                    </div>
                    <ul>
                        <li><span>이전글</span><a href="#">시크릿</a><span class="date">20.03.11</span></li>
                        <li><span>다음글</span><a href="#">올바른 회사생활</a><span class="date">20.03.11</span></li>
                    </ul>
                </div>
                <div class="recent">
                    <h4>Recent Contents</h4>
                    <ul>
                        <li>
                            <div class="thumb"><img src="./images/thumb01.jpg" alt=""></div>
                            <div class="txt">
                                <span class="tit">시크릿</span>
                                <span class="desc">성공한 사람들의 비밀..<br>
                                        2020.04.05</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb"><img src="./images/thumb02.jpg" alt=""></div>
                            <div class="txt">
                                <span class="tit">성공적인 직장생활</span>
                                <span class="desc">올바른 직장생활 방법에..<br>
                                        2020.04.05</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb"><img src="./images/thumb03.jpg" alt=""></div>
                            <div class="txt">
                                <span class="tit">마인드원 사업소개</span>
                                <span class="desc">회사에서 진행하고 있는..<br>
                                        2020.04.05</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb"><img src="./images/thumb04.jpg" alt=""></div>
                            <div class="txt">
                                <span class="tit">닥터파이프</span>
                                <span class="desc">자산관리시스템중 3,4단계인..<br>
                                        2020.04.05</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb"><img src="./images/thumb05.jpg" alt=""></div>
                            <div class="txt">
                                <span class="tit">UX / UI 디자인</span>
                                <span class="desc">알기쉬운 UX UI디자인 이야기..<br>
                                        2020.04.05</span>
                            </div>
                        </li>
                        <li>
                            <div class="thumb"><img src="./images/thumb06.jpg" alt=""></div>
                            <div class="txt">
                                <span class="tit">직장생활 어려움 대처방법</span>
                                <span class="desc">직장생활을 하면서 어려움이..<br>
                                        2020.04.05</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <footer th:include="/layout/footer :: footer"></footer>
        </div>

        <div id="dim"></div>

        <div class="popup">
            <div class="inner">
                <span class="close">×</span>
                <span class="icon"><img src="./images/uploadIcon.png" alt=""></span>
                <form>
                    <fieldset>
                        <legend>동영상 업로드</legend>
                        <div class="input_row">
                            <label>제목 </label><input type="text">
                        </div>
                        <div class="input_row">
                            <label>파일첨부 </label><input type="file">
                        </div>
                        <a href="#" class="ok">확인</a>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</body>

</html>